<launch>

  <node pkg="cmvision" type="cmvision" name="cmvision">
    <remap from="image" to="kinect/rgb/image_color" />
    <param name="color_file" value="/home/fri/ros/rosbuild_ws/class-code/asg1/colors.txt" />
    <param name="mean_shift_on" value="false" />	
    <param name="spatial_radius_pix" value="0" />
    <param name="color_radius_pix" value="0" />
  </node>

</launch>
