<launch>

  <node pkg="cmvision" type="cmvision" name="cmvision">
    <remap from="image" to="ardrone/front/image_raw" />
    <param name="color_file" value="/home/bwi/ros/rosbuild_ws/ardrone_autonomy/colors.txt" />
    <param name="mean_shift_on" value="false" />	
    <param name="spatial_radius_pix" value="0" />
    <param name="color_radius_pix" value="0" />
  </node>

</launch>
